.content {
  height: 100vh;
  width: 100vw;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  
  background-color: rgb(71, 126, 70);

  gap: 5%;
}

h1 {
  text-align: center;
  line-height: 0.8;
}

h1 span {
  font-size: 10px;
}

.inp {
  display: flex;
	place-content: center;
	margin: 0;
	overflow: hidden;
}

.question-inp {
  appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #77d87f;
	background: rgba(#E91E63, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #000000;
}

.inp button {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  textarea {
    width: 600px;
    font-size: 18px;
  }

  input {
    font-size: 20px;
  }
}

@media screen and (max-width: 650px) {
  textarea {
    width: 400px;
    font-size: 18px;
  }
}

@media screen and (max-width: 420px) { /* iphone 12-12 pro */
  textarea {
    width: 300px;
    font-size: 12px;
  }
}
